[trade_symbol]
symbols_file = futures.txt
#symbols_file = custom.txt
#symbols_file = nifty_50.txt
#symbols_file = nifty_100.txt
#symbols_file = nifty_200.txt
#symbols_file = nifty_500.txt
enc_token = gG83POshzCTwZxbdQKjuf1URc8zSDgrTMBahfUwKobBwLTjs/Gxv8eOdiCGVOHNyrXZQ2BZQLrxEfAnx8GeaP4zSc6PRUK8q9iN3r4qIYS9IsBuuMuw8vQ==
time_frame = day
create_chart = true


[time_management]
from_date = 2017-01-01
to_date = 2021-12-31

[risk_management]
capital = 5000000
no_of_stock_to_trade = 150
compound = true
target_percentage = 0.0
stop_loss_percentage = 0.0
risk_per_trade  = 0.01
charges_percentage = 0.2

[house_keeping]
cleanup_logs = true